.hero {
    height: 900px;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  /* ÉDITION LIMITÉE */
  .edition {
    color: #ff7a00;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 20px;
  }
  
  /* Titre principal */
  .hero h1 {
    font-size: 64px;
    font-weight: 800;
    color: #000;
    line-height: 1.1;
  }
  
  /* Votre Style en orange */
  .hero h1 span {
    color: #ff7a00;
  }
  
  /* Description */
  .description {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
    max-width: 600px;
  }
  
  /* Boutons */
  .buttons {
    margin-top: 40px;
    display: flex;
    gap: 20px;
  }
  
  /* Bouton principal */
  .btn1 {
    background-color: #ff7a00;
    color: #fff;
    padding: 14px 28px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s ease;
    border-radius: 7px;
  }
  
  .btn1:hover {
    background-color: #e66e00;
  }
  
  /* Bouton secondaire */
  .btn2 {
    background-color: transparent;
    color: #000;
    padding: 14px 28px;
    border: 2px solid #000;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 7px;

  }
  
  .btn2:hover {
    background-color: #000;
    color: #fff;
  }
  